handle stream id overflow

[RFC7540§5.1.1 Stream Identifiers](http://httpwg.org/specs/rfc7540.html#StreamIdentifiers) says:

> Stream identifiers cannot be reused. Long-lived connections can result in an endpoint exhausting the available range of stream identifiers. A client that is unable to establish a new stream identifier can establish a new connection for new streams. A server that is unable to establish a new stream identifier can send a GOAWAY frame so that the client is forced to open a new connection for new streams.

On the client side, we should return some sort of refusal (either through a `poll_ready()` with a dedicated failure type or with an error type that returns the `Request<T>` to the application).

On the server side, we'll need to send a GOAWAY with a last stream id of the maximum stream id.